body{
  background-color: aliceblue;
}
#placeholder-0 {
width: 300px;
height: 400px;
}
#placeholder-1 {
  width: 300px;
  height: 400px;
}
#placeholder-2 {
  width: 300px;
  height: 400px;
}
p {
  text-align: center;
}
ul {
  list-style: none;
  text-align: center;
}
