body{
  background-color: aliceblue;
}
#image-quiz {
text-align: center;
}
#placeholder-0 {
width: 400px;
height: 400px;
margin-left: 20px;
margin-right: 20px;
border: 5px solid white;
}
#placeholder-1 {
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  border: 5px solid white;
}
#placeholder-2 {
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  border: 5px solid white;
}
p {
  text-align: center;
}
ul {
  list-style: none;
  text-align: center;
}
